autom4te.cache
aclocal.m4
config.h
config.h.in
config.h.in.orig
config.log
config.status
configure
.DS_Store
*.framework
*.xcworkspace
xcuserdata
build
*.o
*.oo
*.a
*.ndx
*.exe
*.pdb
*.prg
*.tos
*.ttp
*.ldg
*.slb
*.pcf
*.ref
*.hyp
*.stg
*.lst
*.srec
*.log
*.trs
lt-*.c
stamp-*
.stamp.*
.libs
.deps
.dirstamp
.xlk
mon.out
gmon.out
a.out
core
*.gcda
*.gcno
*.gcov
*.orig
*.bak
bla.*
aaa.cfg
/bin
/lib
/mint108
